@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
#root,
html,
body {
  --text-font: Rubik, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: theme('colors.background');
  font-family: theme('fontFamily.text'), sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;

  --transparent: #00000000;
  --black: #000000;
  --white: #FFFFFF;
  --primary: #00ACE6;
  --primaryLight: #CEEAF7;
  --light: #657985;
  --lighter: #8C9CA6;
  --lightest: #C7CFD3;
  --background: #F5F5F5;
  --backgroundDark: #D4DBDF;
  --error: #EA609C;
  --gold: #F9BC1F;
  --errorDark: #C63A77;
  --goldDark: #E2AA17;
  --primaryDark: #009ACE;
  --bronze: #B28511;
}

button,
input {
  font-family: theme('fontFamily.text'), sans-serif;
}

::placeholder {
  color: theme('colors.lightest');
}
